<%= form_with(model: news_card, local: true) do |form| %>
  <% if news_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(news_card.errors.count, "error") %> prohibited this news_card from being saved:</h2>

      <ul>
      <% news_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
